{% extends 'grupo/base.html' %}
{% block content %}
<div class="container">
    <form class="" action="index.html" method="post">
        {{ form.hidden_tag() }}
        <div class="mb-3">
            {{ form.nome.label(class="form-label",for='nome') }}
            {{ form.nome(class="form-control") }}
        </div>
        <div class="mb-3">
            {{ form.dono.label(class="form-label",for='dono') }}
            {{ form.dono(class="form-control") }}
        </div>
        {{ form.submit(class='btn btn-primary') }}        
    </form>
</div>
{% endblock %}
