{% extends 'auth/base.html' %}
{% block content %}
<div class="container">

    <form method="POST">
        {{ form.hidden_tag() }}
        <div class="mb-3">
            {{ form.apelido.label(class="form-label",for='apelido') }}
            {{ form.apelido(class="form-control") }}
        </div>
        <div class="mb-3">
            {{ form.senha.label(class="form-label",for='senha') }}
            {{ form.senha(class="form-control") }}
        </div>        
        {{ form.submit(class='btn btn-primary') }}        
    </form>

</div>
{% endblock %}
