{% extends 'base.html' %}
{% block content %}

<div class="container">
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link" href="{{ url_for('mostra_partidas',rodada_id = palpite.partida.rodada.id) }}">Rodada {{ palpite.partida.rodada.nome }}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ url_for('palpites',partida_id = palpite.partida.id) }}">Palpites</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Palpites de {{ palpite.apostador.nome }}</a>
    </li>
  </ul>
  <table class="table table-striped">
      <tr>
          <td>
              <img src="{{ url_for('static', filename=palpite.partida.mandante.imagem  ) }}" alt="">
          </td>
          <td> X </td>
          <td>
              <img src="{{ url_for('static', filename=palpite.partida.visitante.imagem  ) }}" alt="">
          </td>
      </tr>
  </table>
  <form action="{{ url_for('salvar_palpite') }}" method="POST">
      {{ form.hidden_tag() }}
      <div class="mb-3">
          {{ form.resultado.label(class="form-label",for='resultado') }}
          {{ form.resultado(class="form-select") }}
      </div>
      {{ form.submit_salvar(class='btn btn-primary') }}
      {{ form.submit_seguir(class='btn btn-primary') }}
  </form>
</div>

{% endblock %}
